# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
backend/.env


# Node
node_modules/
dist/
.DS_Store

# Secrets
service_account.json
backend/service_account.json

# Binaries / Large Deps
backend/poppler_bin/
backend/poppler_temp/

# User Data
backend/uploads/
